:root {
	--base: #042029;
	--base-ninety: rgba(255, 255, 255, 0.9);
	--base-seventy-five: rgba(255, 255, 255, 0.75);
	--base-seventy: rgba(255, 255, 255, 0.7);
	--base-fifty: rgba(255, 255, 255, 0.5);
	--base-fourty: rgba(255, 255, 255, 0.4);
	--base-thirty: rgba(255, 255, 255, 0.3);
	--base-twenty: rgba(255, 255, 255, 0.2);
	--base-five: rgba(255, 255, 255, 0.05);
	--base-ten: rgba(255, 255, 255, 0.1);
	--base-nine: rgba(255, 255, 255, 0.09);
	--container-color: #042029;
	--container-dark-color: #ff0000;
	--list-header-color: linear-gradient(90deg, rgba(4,32,41,1) 0%, rgba(0,43,54,1) 50%, rgba(4,32,41,1) 100%);
	--blue: #2aa198;
	--selected-conversation-background: linear-gradient(90deg, rgba(4,32,41,1) 0%, rgba(0,43,54,1) 50%, rgba(4,32,41,1) 100%);
}

body, input{
	font-family: 'SNsanafonP' !important;
}

span, ._56ck{
	color: #fdf6e3 !important;
}

#Page-1, #Fill-1{
	fill: #8B384B !important;
}

._6-xk{
	height: 0px !important;
	visibility: hidden !important;
}

._ui9, ._4wzs, ._6yme, ._6zv_{
	background-color: #8B384B !important;
	background-image: none !important;
}

._2her{
	border-color: #8B384B !important;
	background-color: #8B384B !important;
}

._39bj, #reply, #react{
	width: 0px !important;
	visibility: hidden !important;
	display: none !important;
}

._fl2{ /*disable if info panel disappears*/
	visibility: hidden !important;
}


._17w2{
	font-size: 125% !important;
}

._1p1v{
	visibility: hidden !important;
}

._1p1v:after{
	content:'「○」' !important; 
	visibility: visible !important;
	display: block !important;
	position: absolute !important;
	padding: 0px !important;
	top:0px !important;
}


._4rv4{
	width: 0px !important;
	visibility: hidden !important;
	top: 0px !important;
	right: 0px !important;
	height: 0px !important;
}

._5irm{
	width: auto !important;
	height: 52px !important;
	overflow: none !important;
}

._7mki, ._7mkk, ._7mkh, ._30yy{
	visibility: hidden !important;
	display: none !important;
	width: 0px !important;
}

._4_xe{
	visibility: hidden !important;
	display: none !important;
}